
# main velox toolchain config
# it's the default configuration
# set config field to specify a sub configuration to compile (use his name in sub_configs)

[target]
project_name            = "velox-example"
abi                     = "LP64"
arch                    = "amd64"
bits                    = 64
os                      = "linux"
libc                    = ""
# self is for default configuration
config                  = self

[profile]       
debug                   = false
opt_level               = 0
size_opt                = false

[logs]
# override all log options
all                     = false
filesystem              = false
lexer                   = false
preprocessor            = false
parser                  = false
binder                  = false
exporter                = false
resolver                = false
llvm_ir                 = false
linker                  = false

[warnings]
# override all warning options
all                     = true  
extra                   = true    
pedantic                = true        
level                   = 3    
unused                  = true      
dead_code               = true        
as_error                = true        

[printer]
ast = true

[defines]
# VERSION_EXAMPLE       = "1.0"

[undefines]
# EXAMPLE

[codegen]
emit_bin                = true
emit_llvm               = false
emit_obj                = false
emit_bc                 = false
emit_static_library     = false
emit_dynamic_library    = false
build_dir               = "./build"

[project]
project_dir             = "./"
source_dir              = "./src"
vendor_dir              = "./vendor"
ffi-json                = "./ffi-json"
binding_dir             = "./binding"
compiler_file           = "../../velox-compiler/build/debug/velox-compiler"

[sub_configs]       
debug                   = "./config/debug.config"

