
# main velox compiler config
# it's the default configuration
# set config field to specify a sub configuration to compile (use his name in sub_configs)

[target]
project_name = "velox-example"
abi   = "LP64"
arch  = "amd64"
bits  = 64
os    = "linux"
libc  = ""
# self is for default configuration
config = self

[profile]
debug           = false
opt_level       = 0
size_opt        = false

[logs]
# override all log options
all             = false
filesystem      = false
lexer           = false
preprocessor    = false
parser          = false
embinder        = false
exporter        = false
resolver        = false
llvm_ir         = false
linker          = false

[defines]
VERSION = "1.0"

[undefines]
EXAMPLE

[codegen]
# LLVM | OBJ | ASM | BC | BIN
emit_mode  = "BIN"
output_dir = "./build"
dest_file_dir  = "./build/app"

[project]
project_dir = "./"
source_dir  = "./src"
thrid_party_dir = "./thirdparty"

[sub_configs]
debug = "./config/debug.config"

